* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timer {
  width: 50%;
  height: 33vh;
  margin: 5vh 5vw;
  align-self: center;
  justify-self: center;
  border-radius: 20px;
}

.current-time {
  font-size: 5vw;
}

svg:hover {
  cursor: pointer
}